<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- 객체 생성을 위한 설정(IoC컨테이너에 생성된 객체 보관) -->
<!-- 
	name: 빈 객체를 구분할 때 사용할 이름
	class: 빈 객체를 생성할 때 사용할 클래스
 -->
	<bean name="messageBean" class="kr.spring.ch01.MessageBean"/>
	
	<bean name="studentBean" class="kr.spring.ch02.StudentBean"/>
	
	<bean name="peopleBean" class="kr.spring.ch03.PeopleBean"/>	 
	
	
	<!-- 의존관계 주입 : 생성자 방식 -->
	<bean name="writeArticleService"
	      class="kr.spring.ch04.WriteArticleService">
		<constructor-arg>
			<!-- ref : 주입할 의존 객체에 해당하는 빈 객체의 식별값 -->
			<ref bean="writeArticleDAO"/>
		</constructor-arg>
	</bean>
	<bean name="writeArticleDAO" 
	      class="kr.spring.ch04.WriteArticleDAO"/>
	      
	<!-- DI 생성자 설정 방식 : 여러 개의 인자 사용  -->      
	<bean id="monitor" class="kr.spring.ch05.SystemMonitor">
	<!-- 주의! 인자의 순서대로 기재 -->
<!-- 	<constructor-arg>
			<value>10</value>
		</constructor-arg>
		<constructor-arg>
			<ref bean="smsSender"/>
		</constructor-arg>
 -->	
	<!-- 속성으로 값 또는 객체 설정 -->
<!--
		<constructor-arg value="20"/>
		<constructor-arg ref="smsSender"/>
 -->		
	<!-- 순서를 무시할 때는 index 표시 -->
<!-- 
		<constructor-arg index="1" ref="smsSender"/>
		<constructor-arg index="0" value="30"/>
 -->		
	<!-- 생성자의 인자명 기재 -->
		<constructor-arg name="periodTime" value="40"/>
		<constructor-arg name="sender" ref="smsSender"/>	
	</bean>
	
	<bean id="smsSender" class="kr.spring.ch05.SmsSender"/>
	
	<!-- DI 프로퍼티 설정 방식 -->
	<bean name="registerService" class="kr.spring.ch06.RegisterService">
		<!-- name : 의존 객체를 주입할 때 사용할 설정 메서드의 프로퍼티 이름 -->
		<property name="registerDAO">
			<!-- ref : 주입할 의존 객체에 해당하는 빈 객체의 식별값 -->
			<ref bean="registerDAO"/>
		</property>
	</bean>
	<bean name="registerDAO" class="kr.spring.ch06.RegisterDAO"/>
	
	
	<!-- DI 프로퍼티 설정 방식 : 프로퍼티가 여러개 있는 경우 -->
	<bean id="monitor2" class="kr.spring.ch07.SystemMonitor">
		<property name="periodTime">
			<value>10</value>
		</property>
		<property name="smsSender">
			<ref bean="smsSender2"/>
		</property>
	</bean>
	<bean id="smsSender2" class="kr.spring.ch07.SmsSender"/>
	
	
	<!-- DI 프로퍼티 설정 : XML 네임스페이스를 이용한 프로퍼티 설정 -->
	<bean id="work" class="kr.spring.ch08.WorkControl"
	      p:periodTime="100" p:email-ref="email"/>
	<bean id="email" class="kr.spring.ch08.EmailSender"/>
	
	
	<!-- List 타입 프로퍼티 설정 -->
	<bean id="performanceMonitor" class="kr.spring.ch09.PerformanceMonitor">
		<property name="deviations">
			<list>
				<value>0.2</value>
				<value>0.3</value>
			</list>
		</property>
	</bean>
	
	
	<!-- Map 타입 프로퍼티 설정 -->
	<bean name="protocolHandlerFactory" class="kr.spring.ch10.ProtocolHandlerFactory">
		<property name="map">
			<map>
				<entry>
					<key><value>soap</value></key>
					<ref bean="soapHandler"/>
				</entry>
				<entry>
					<key><value>rest</value></key>
					<ref bean="restHandler"/>
				</entry>
			</map>
		</property>          
	</bean>
	<bean name="soapHandler" class="kr.spring.ch10.SoapHandler"/>
	<bean name="restHandler" class="kr.spring.ch10.RestHandler"/>
	
	
	<!-- Set 타입 프로퍼티 설정 -->
	<bean name="videoClient" class="kr.spring.ch11.VideoClient">
		<property name="subSet">
			<set>
				<value>10</value>
				<value>20</value>
			</set>
		</property>
	</bean>
	
	
	<!-- Properties 타입 프로퍼티 설정 -->
	<bean name="bookClient" class="kr.spring.ch12.BookClient">
		<property name="prop">
			<props>
				<prop key="server">192.168.0.1</prop>
				<prop key="connectionTimeout">5000</prop>
			</props>
		</property>
	</bean>
	
</beans>