/* header_style.css */

/*** HEADER AREA ***/
#main_header{
	width: 1020px;
	height: 111px;
	margin: 0 auto 9px;
	position: relative;} /* 포지션 기준, 브라우저 기준이 아니라 중심을 기준으로 함 */

/*** 로고 ***/
.logo {
	position:absolute;
	left:438px; top:39px;} /*또는 a에서 margin-left: 438px; margin-top:39px;*/
.logo > a {
	width:145px; height:28px;
	background:url(../images/logo.png);
	text-indent: -6000px;
	overflow: hidden;}

/*** 언어선택 메뉴 ***/
.global_wrap {
	position:absolute;
	right:0; top:85px;}
.global_wrap > ul {overflow: hidden;}
.global_wrap > ul > li > a {
	height:26px;
	line-height:26px;
	font-size:15px;
	letter-spacing: -1px;}

.global_wrap > ul > li {float: left;}
.global_wrap > ul > li.en {
	background: url(../images/line_2.jpg) no-repeat left center;
	padding-left:15px;}
.global_wrap > ul > li.ch {
	background: url(../images/line_1.jpg) no-repeat left center;
	padding-left: 12px;
	margin-left: 9px;}

/*** 상단 메뉴 ***/
#top_nav{
	position: absolute;
	left: 340px; top: 85px;
	z-index: 10; /*나중에 입력한 메인메뉴에 가려져서 링크 적용이 안되므로 z-index를 지정*/}

#top_nav > ul {
	overflow: hidden;
	padding-left: 20px;
	background: url(../images/line_2.jpg) no-repeat left center;}

#top_nav  li {
	float: left;
	margin-right: 17px;}

#top_nav li.search {
	margin-left: 2px;
	padding-left: 17px;
	background: url(../images/line_1.jpg) no-repeat left center;
	margin-right: 0;}

#top_nav  li > a {
	height: 26px;
	line-height: 26px;
	font-weight: 700;
	font-size: 13px;
	letter-spacing: -1px;}

#top_nav li.search > a,
#top_nav li.facebook > a{
	width: 28px; height: 26px;
	text-indent: -6000px;
	overflow: hidden;}

#top_nav li.search > a {
	background: url(../images/btn_search.png) no-repeat left center;}
#top_nav li.facebook > a {
	background: url(../images/btn_facebook.png) no-repeat left center;}


/*** 메인 메뉴 ***/
#main_nav {
	position: absolute;
	left: 0; top: 85px;}

#main_nav ul {overflow: hidden;}

#main_nav li {
	float: left;
	margin-right: 41px;}

#main_nav li#community {margin-right: 433px;}

#main_nav li > a {
	height: 26px;
	text-indent: -6000px;
	overflow: hidden;}

li#story > a {
	width: 58px;
	background: url(../images/menu_story.png) no-repeat center;}
li#product > a {
 	width: 81px;
	background: url(../images/menu_product.png) no-repeat center;}
li#community >a {
	width: 101px;
	background: url(../images/menu_community.png) no-repeat center;}
li#shopping > a {
	width: 121px;
	background: url(../images/menu_shopping.png) no-repeat center;}